.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
/* MIA SOLUZIONE 1 */
.ex-1-square:hover {
  background-color: red;
  transition: background-color 2s;
}
/* FINE SOLUZIONE 1 */

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
}
/* MIA SOLUZIONE 2 */
.ex-2-square:active {
  transition: 2s;
  width: 100%;
}
/* FINE SOLUZIONE 2 */

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
}
/* MIA SOLUZIONE 3 */
.ex-3-square:hover {
  transition: 1s;
  border-radius: 100%;
}
/* FINE SOLUZIONE 3 */

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
}
/* MIA SOLUZIONE 4 */
.ex-4-square:hover {
  transition: 1s;
  opacity: 0;
}
/* FINE SOLUZIONE 4 */

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
}
/* MIA SOLUZIONE 5 */
.ex-5-square:hover {
  transform: scale(2);
  transition: 1s;
}
.ex-5-square:active {
  transform: scale(0.2);
  transition: 1s;
}
/* FINE SOLUZIONE 5 */

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}
/* MIA SOLUZIONE 6*/
.ex-6-img:hover {
  filter: grayscale(100%);
}
/* FINE SOLUZIONE 6*/
/* MIA SOLUZIONE 7*/
.ex-7-img:hover {
  transition: 2s;
  filter: grayscale(100%);
}
/* FINE SOLUZIONE 7 */
/* MIA SOLUZIONE 8*/
.ex-8-img:hover {
  transition: 2s;
  border-radius: 30px;
  filter: grayscale(100%);
}
/* FINE SOLUZIONE 8 */

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}
.ex-10-icon {
  font-size: 60px;
}
.ex-11-icon {
  font-size: 60px;
}
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
